<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users
        [users]="activeUsers"
        ></app-active-users>
      <app-inactive-users
        [users]="inactiveUsers"
        ></app-inactive-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Active -> Inactive Counter</div>
        <div class="panel-body">
          {{inactiveCount}}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Inactive -> Active Counter</div>
        <div class="panel-body">
          {{activeCount}}
        </div>
      </div>
    </div>
  </div>
</div>
